appdirs==1.4.3
attrs==17.4.0
bcrypt==3.1.4
cffi==1.11.5
click==6.7
Flask==0.12.1
flask-session==0.3.1
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
packaging==16.8
pluggy==0.6.0
py==1.5.2
pycparser==2.18
pyparsing==2.2.0
pytest==3.4.1
pytest-flask==0.10.0
six==1.10.0
Werkzeug==0.12.1
