{% extends "base.html" %}
{% block page_title %}Register{% endblock %}  
{% block content %}
<h1 class="mt-5">Register</h1>
<h5>KomradeBank welcomes your patronage.</h5>

<form method="post" action="register">
  <div class="form-group">
    <label class="col-form-label col-form-label-sm" for="username">Username</label>
    <input class="form-control form-control-sm" type="text" placeholder="Username" id="username" name="username">
  </div>

  <div class="form-group">
    <label class="col-form-label col-form-label-sm" for="password">Password</label>
    <input class="form-control form-control-sm" type="password" placeholder="Password" id="password" name="password">
  </div>
  
  <input type="submit" class="btn btn-success" value="Submit"></input>

</form>

{% endblock %} 
